.test {
	width: 100%;
}
// .card-title{
// 	span{
// 		font-size: 30px;
// 	}
// 	.word-btn-white,.other-record{
// 		font-size: 16px;
// 	}
// }
.scroll-view,
.scroll-view-box {
	height: 100%;
	.buttons {
		width: 100%;
		text-align: center;
		margin: 30px 0;
		font-size: 16px;

		.button-cancel {
			margin: 0 20px;
		}
		.button-cancel,.button-confirm{
			width: 140rpx;
			height: 60rpx;
			line-height: 60rpx;
		}
		.button-end{
			width: 240rpx;
			background-color: red;
			color: #fff;
			margin: 0 20px;
		}
	}
	.show-draw-title{
		text-align: center;
		margin: 20px;
		font-size: 18px;
		font-weight: bolder;
	}

	.new-add-one {
		text-align: right;
		margin-top: 20px;
		margin-right: 20px;

		.new-add-button {}
	}
}
.no-template-record{
	margin: 20px;
}
.has-template-record{
	width: 100%;
	.template-container{
		width: 100%;
	}
}

.new-record{
	text-align:right;
	margin-right: 20px;
}

.daily-data{
	position: fixed;
	bottom: 30px;
	left: 30px;
}