.drug-user-info-container{
	width: 100%;
	// margin-top: 20px;
	.show-only-img{
		width: 100%;
		height: 100%;
		.img{
			width: 100%;
			// height: 99vh;
			// // height: auto;
			// object-fit: cover;
		}
	}
}
.smsli{
	// color: red;
	list-style: none;
	margin: 20px 10px;
}

#yaopintupian{
	border: 1px solid red;
	width: 100%;
	img{
		margin:0 20px;
	}
}